:root {
    --main-blue: #212F3D;
    --secondary-blue: #0a4d8f;
    --main-green: #3bdd92;
    --secondary-green: #18a865;
    --success-color: #ada427;
    --error-color: #ce2323;
    --active-link: #810b8b;
    --border-radius: 8px;
}


/* Login Page Styling */

#LoginBody {
    background-color: var(--main-blue);
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
    height: 100vh;
    font-size: 18px;
}

#PageLogin {
    background-color: var(--main-green);
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
}

#PageLogin,
.Form_Input_Group,
.Form_Button {
    font-family: 'Raleway', sans-serif;
}

.Form_Title {
    margin-bottom: 1rem;
    text-align: center;
}

.Form_Hidden{
    display: none;
}

.first {
    margin-top: 0;
}

.last {
    margin-bottom: 0;
}


.Form_Message {
    text-align: center;
    margin-bottom: 1rem;
}

.Form_Message_Error {
    color:var(--error-color);
    font-weight: 500;
}

.Form_Message_Success {
    color: var(--success-color);
    font-weight: 500;
}

.Form_Input_Group {
    margin-bottom: 1rem;
}

.Form_Input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 2px solid #ffffff;
    outline: none;
    background: #ebebeb;
    transition: background 0.2s, border-color 0.2s;
}

.Form_Input:focus {
    border-color: var(--secondary-blue);
    background-color: #ffffff;
}

.Input_Error {
    color: var(--error-color);
    border-color: var(--error-color);
}

.Input_Success {
    color: var(--success-color);
    border-color: var(--success-color);
}

.Input_Error_Message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--error-color);
}

.Form_Button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--secondary-blue);
}

.Form_Button:hover {
    background: var(--main-blue);
}

.Form_Button:active {
    transform: scale(0.98);
}

.Form_Text {
    text-align: center;
}

.Form_Link {
    color: var(--secondary-blue);
    text-decoration: none;
    cursor: pointer;
}

.Form_Link:hover {
    text-decoration: underline;
}

.Form_Link:active {
    color: var(--active-link);
}

/* Custom Scroll Bar */
main::-webkit-scrollbar {
    width: 10px;
}
main::-webkit-scrollbar-track {
    background-color: var(--main-blue);
}
main::-webkit-scrollbar-thumb {
    background-color: var(--main-green);
    border-radius: 10px;
}
main::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-green);
    border-radius: 10px;
}
  

/* Home Page Styling */
#HomeBody {
    background-color: var(--main-blue);
    margin: 0;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

#PageHome {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display:flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 160px;
    background-color: var(--main-blue);
    color: var(--main-green);
    border: 7px solid var(--main-green);
}

.logoContainer {
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 30px;
    width: 30%;
    height:100%;
}

.homeLogo{
    font-size:5.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    height:100%;
    width: 100%;
    background-color: var(--main-blue);
    color: var(--main-green);
}

.headerMiddle{
    width:50%;
    height:100%;
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.navMiddle{
    background-color: #ffffff;
    height: 60%;
    width: 80%;
    box-sizing: border-box;
    display:flex;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

.searchbar{
    display:flex;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
}

.searchInput{
    display:block;
    width:100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 50px;
    outline:none;
}

.searchbar i{
    width:10%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.headerRight{
    width:30%;
    height: 100%;
    display: flex;
    overflow:visible;
    align-items: center;
    justify-content: center;
    padding:20px;
    box-sizing: border-box;
}

.toHide{
    display:none;
}

.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    padding:10px;
    box-sizing: border-box;
}

.nav a{
    height:100%;
    width:20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu i{
    color: var(--main-green)
}


/* Overlay Styling */

.menu{
    display:none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--main-blue);
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}
  
.overlay--active {
    width: 100%;
}

.overlay .close {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    height:10%;
    width: 100%;
    font-size: 36px;
    padding:20px;

}
    
.overlay__content {
    display: flex;
    height: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay__content a {
    cursor: pointer;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin:10px;
    font-size: 36px;
    width: 250px;
    border: 5px solid var(--main-green);
    transition: color 0.3s ease 0s;
}

.overlay__content a i{
    width:30%;
}

.overlay__content a .menuText{
    width:70%;
}

.overlay__content a:hover,
.overlay__content a:focus {
    background-color: #ffffff;
    border-color: var(--secondary-blue);
    color: var(--main-blue);
}

.MC{
    width:100%;
    height:20%;
}

.menuSocial{
    width:100%;
    height:50%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.menuCredits{
    display: flex;
    width:100%;
    height:50%;
    align-items: center;
    justify-content: center;
}

.menuMsg{
    width:20%;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
}

.menuIcon{
    height: 100%;
    width:20%;
    display:flex;
    align-items: center;
    justify-content:space-between;
    box-sizing: border-box;
    padding:10px;
}

.menuIcon a:link{
    text-decoration: none;
}

.menuIcon a{
    cursor: pointer;
    display: flex;
    background-color: var(--main-blue);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
}

.menuSI{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

.menuIcon a:hover{
    background-color: #ffffff;
}

.menuSI:hover{
    background-color: var(--main-blue);
    color:#ffffff;
}

.menuSI i:active{
    color: red;
}



/* Home Main Body Styling */

main{
    background-color: var(--main-blue);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 71vh;
}

.overflowContainer{
    height:1100px;
    color: var(--main-green);
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsContainer{
    width: 20%;
    height:100%;
    background-color: red;
}

.contentContainer{
    width:100%;
    height:100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: darkgoldenrod;
}

.content1,
.content2{
    height: 50%;
    box-sizing: border-box;
    padding:10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carouselTitle{
    height:20%;
    width: 100%;
    font-size: 36px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.carousel{
    height: 80%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    background-color: blue;
    box-sizing: border-box;
    padding: 10px;
}

.carouselTop{
    height: 90%;
    background-color: #ffffff;
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-self:
}

.carouselBottom{
    height: 10%;
    background-color: red;
}

.carousel__track-container{
    height: 350px;
    width: 190px;
    position: relative;
    background-color: purple;
}

.carousel__image{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.carousel__track{
    padding:0;
    margin:0;
    list-style: none;
    top:0;
    bottom:0;
}

.carousel__slide{
    position: absolute;
    width:100%;
    height: 100%;
}

.carousel__button{
    cursor:pointer;
    border:0;
    background: transparent;
}

.carousel__indication{
    border-radius: 50%;
    border:0;
    width: 20px;
    height: 20px;
}

.empty{
    width:20%;
    height:100%;
    background-color: orange;
}


/* Shop Styling */

#PageShop {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.homeRedirect{
    cursor:pointer;
    outline:none;
    border:none;
    height: 100%;
    width:20%;
}


/* Footer Styling */

footer{
    background-color: var(--main-green);
    display:flex;
    color: var(--main-blue);
    padding:0 20px;
    box-sizing:border-box;
    align-items: center;
    justify-content: center;
    height:60px;
}

.socialContainer{
    width:40%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.credits{
    display: flex;
    width:60%;
    height:100%;
    align-items: center;
}


.socialMsg{
    width:40%;
    text-align: center;
}

.iconBox{
    height: 100%;
    width:30%;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    box-sizing: border-box;
    padding:10px;
}

.iconBox a:link{
    text-decoration: none;
}

.iconBox a{
    cursor: pointer;
    display: flex;
    background-color: var(--main-blue);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
}

.socialIcons{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

.iconBox a:hover{
    background-color: #ffffff;
}

.socialIcons:hover{
    background-color: var(--main-blue);
    color:#ffffff;
}

.socialIcons i:active{
    color: red;
}


/* Media Queries */

@media only screen and (max-width: 1275px) {
    #HomeBody{
    }

    .iconBox a{
        height: 2rem;
        width: 2rem;
    }

    .socialIcons{
        height: 1.5rem;
        width: 1.5rem;
    }
}

@media only screen and (max-width: 1024px ){
    #HomeBody{
        font-size:16px;
    }

    main{
        height: 406px;
    }

    .homeLogo{
        font-size:4.5rem;
    }

    .navMiddle{
        height:50%
    }

}


@media only screen and (max-width: 880px){
    .homeLogo{
        font-size: 4rem;
    }

    .nav{
        display:none;
    }

    .menu{
        display: initial;
    }

    .navMiddle{
        display:none;
    }

    footer{
        display: none;
    }

    .newsContainer{
        display: none;
    }

    .empty{
        display: none;
    }


}

@media only screen and (max-width: 768px ) {
    main{
        height: 466px;
    }

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1200px) {

}

